* {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {
  background-image: url("https://wallpapers.com/images/hd/over-the-garden-wall-middle-of-forest-wx3fwips75zf6pq2.jpg");
}

#navbar-section {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 5rem;
  color: white;

}


#navbar-section a {
  color: inherit;
  text-decoration: none;
}

#navbar-section a:visited {
  color: inherit;
}

#navbar-section a:hover {
  text-decoration: underline;
}

.all-characters {
  /* border-style: solid; */
  /* border-color: red; */
  display: grid;
  grid-column-gap: 0.5rem;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.single-character {
  margin: 1rem;
  padding: 0.5rem;
  /* border-style: solid; */
  /* border-color: black; */
  background-color: #7aa1a6;
  display: flex;
  align-items: center;
  flex-direction: column;

}

.character-image {
  width: 150px;
}

.character-page-container {
  /* border-style: solid; */
  /* border-color: blue; */
}

.posts-container {
  /* border-style: solid; */
  /* border-color: orange; */
  display: flex;
}

.single-post {
  background-image: url("https://t3.ftcdn.net/jpg/03/66/10/14/360_F_366101427_8yazUJK82fDrLi4YtpnQO3DJ4dTygxoe.jpg");
  /* border-style: solid; */
  /* border-color: purple; */
  margin: 2rem;
  padding: 3rem;
  width: 60%;
}

.new-post-form {
  /* border-style: solid; */
  /* border-color: pink; */
  margin: 10px;
  padding: 20px;
}

.search-and-filter {
  /* border-style: solid; */
  /* border-color: yellow; */
  margin: 3rem;
  padding: 3rem;
  display: flex;
  flex-direction: column;

}

.search-characters {
  /* border-style: dashed; */
  /* border-color: black; */
  margin: 1rem;
}

.filter-buttons {
  /* border-style: dotted; */
  /* border-color: green; */
  margin: 1rem;
  display: flex;
  justify-content: space-around;
  width: 20rem;
  align-self: center;
}

h1,
h4 {
  color: white;
}